* {
    /* default 값 설정, 속성 지우기 */
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}
body {
    width:2000px;
}
.intro_bg {
    /* 배경화면 꽉차게 조정. */
    background-image:url("background.jpg");
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    height: 80px;
    background-color:#ffffff;
    margin: auto;
}

.logo {
    width: 300px;
    height: 80px;
}

.search {
    margin-top: 20px;
    height: 40px;
    width: 400px;
    border: 1px solid #1b5ac2;
    background: #ffffff;
}

.search>input {
    font-size: 16px;
    width: 325px;
    padding: 5px;
    border: 0px;
    outline: none;
    float: left;
}

.search>button {
    width: 50px;
    height: 100%;
    border: 0px;
    background: #1b5ac2;
    outline: none;
    float: right;
    color: #ffffff;
}


.main {
    position: absolute;
    display: flex;
}

.coronamap {
    width: 650px;
    height: 500px;
    margin-top:50px;
}


.coronastatus {
    margin-left: 200px;
    margin-top:50px;
    width: 500px;
    height: 500px;
    border: 1px solid white;
}

#distancing_section {
    display:flex;
    flex-direction: column;
}

#distancing_explain {
    color: black;
    user-select: none;
    text-align: center;
    margin-left: 42px;
    margin-top: 30px;
    padding-top: 10px;
    font-size: 15px;
    border:1px solid white;
    background-color: white;
    border-radius: 15px;

}
/* .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2000px;
    padding: 15px 0;
    text-align: center;
    color: black;
    background-color:#ffffff;
}
 */

 #clock {
    padding-left:130px;
    color:white;
    letter-spacing: 1px;
    font-size: 16px;
    user-select: none;
    text-shadow: 1px 1px 0px black;
}
