.OUTLINE {
    stroke-linejoin:round;
    stroke: #e2f9ff;
    stroke-width: 2;
}


.CD {
    fill: #ffd4b7;
}

.TEXT {
    fill: #ffffff;
    font-size: 27px;
    text-anchor: middle;
    user-select: none;
    /* alignment-baseline: middle; */
}
.mouseEnter {
    /* important를 추가함으로써 distancelvl과 클래스보다 우선순위를 높임 */
    fill: #62ad9b !important;
}

/* 거리두기 2단계 */
.distancelvl2 {
    fill: #fc9f61;
}
/* 거리두기 3단계 */
.distancelvl3 {
    fill: #ff643d;
}
/* 거리두기 4단계 */
.distancelvl4 {
    fill: #a12505;
}

#distancing_img {
    width: 169px; 
    height:50px;
    margin-left: 50px;
    margin-top: 0%;
    image-rendering: -webkit-optimize-contrast;
}

#distancing_section {
    display:flex;
    flex-direction: column;
    margin-right: 10%;
}

#distancing_explain {
    width: 200px;
    color: black;
    user-select: none;
    text-align: center;
    margin-left: 42px;
    margin-top: 30px;
    padding-top: 10px;
    font-size: 15px;
    border:1px solid white;
    background-color: rgba(255, 236, 244, 0.637);
    border-radius: 15px;

}

#text_explain {
    font-size: 15px;
    font-weight: bold;
    float:right;
    margin-bottom: 0%;
}
 #clock {
    text-decoration: none;
    color:black;
    /* letter-spacing: 2px; */
    font-size: 18px;
    font-weight: bold;
    padding-left: 20%;
    padding-top: 20%;

}
