* {
    /* default 값 설정, 속성 지우기 */
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}
body {
    width:2000px;
}
.intro_bg {
    /* 배경화면 꽉차게 조정. */
    background-image:url("img/background.jpg");
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    height: 80px;
    background-color:#ffffff;
    margin: auto;
}

.logo {
    width: 300px;
    height: 80px;
}

.search {
    margin-top: 20px;
    height: 40px;
    width: 400px;
    border: 1px solid #1b5ac2;
    background: #ffffff;
}

.search>input {
    font-size: 16px;
    width: 325px;
    padding: 5px;
    border: 0px;
    outline: none;
    float: left;
}

.search>button {
    width: 50px;
    height: 100%;
    border: 0px;
    background: #1b5ac2;
    outline: none;
    float: right;
    color: #ffffff;
}


.main {
    position: absolute;
    display: flex;
}

.coronamap {
    width: 650px;
    height: 500px;
    margin-top:50px;
}


.coronastatus {
    margin-left: 200px;
    margin-top:50px;
    width: 500px;
    height: 500px;
    border: 1px solid white;
}

/* .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2000px;
    padding: 15px 0;
    text-align: center;
    color: black;
    background-color:#ffffff;
}
 */
 
#distancing_section {
    display:flex;
    flex-direction: column;
}

#distancing_explain {
    color: black;
    user-select: none;
    text-align: center;
    margin-left: 42px;
    margin-top: 30px;
    padding-top: 10px;
    font-size: 15px;
    border:1px solid white;
    background-color: white;
    border-radius: 15px;

}

 #clock {
    padding-left:130px;
    color:white;
    letter-spacing: 1px;
    font-size: 16px;
    user-select: none;
    text-shadow: 1px 1px 0px black;
}

/* 표 중앙정렬 */
td{
    text-align: center;
}

/* 롤링 배너 스타일 */
.rolling_box{
    width: 700px;
    height: 40px;
    text-align: center;
    border: 1px solid #848484;
    margin-left: 200px;
    margin-top: 200px;
}

.rolling_box ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.rolling_box ul li {
    width: 100%;
    height: 100%;
    transition: .5s;
    position:absolute;
    transition: top .75s;
    top: 100%;
    z-index: 1;
    background-color: #ffffff;
}

.card_sliding{
    top: 0 !important;
    z-index: 100 !important;
} 

.card_sliding_after{
    top: -100% !important;
    z-index: 10 !important;
}

.rolling_box ul li p {
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
}

.before_slide {
    transform: translateY(100%);
}

.after_slide {
    transform: translateY(0);
}
/* --------------------- 롤링배너 */


