.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;

    /* 숨기기 */
    z-index: -1;
    opacity: 0;
  }

  .show {
    opacity: 1;
    z-index: 1000;
    transition: all 0.5s;
  }

  .window {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .popup {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

    width: 1000px;
    height: 500px;

    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
    border-radius: 15px;
  }

  .show .popup {
    transform: translate(-50%, -50%);
    transition: all 0.5s;
  }

  .area-left {
    width: 50%;
    height: 100%;
    border-right: 1px dotted gray;
  }
  .area-right {
    width: 50%;
    height: 100%;
  }

  .hidden_close {
    position: relative;
    left: 470px;
    bottom: 30px;
    outline: none;
    background-color:transparent;
    border: 0;
    font-size: 20px;
  }
  
.hidden_close:after {
  display:inline-block;
  content: "\00d7";
}

.hidden_close:hover {
  color: white;
}
